/* variables */
/* resets */
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/segoeui.ttf") format("ttf"), url("../fonts/segoeuib.ttf") format("ttf"), url("../fonts/segoeuii.ttf") format("ttf"), url("../fonts/segoeuil.ttf") format("ttf"); }
p {
  font: 17px "Segoe UI", sans-serif;
  color: #909090; }

h1 {
  color: #5094f2;
  font: 34px "Segoe UI", sans-serif; }

h4 {
  font: 22px "Segoe UI", sans-serif;
  color: #6f7173; }

.row {
  padding: 0;
  margin: 0; }

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
  filter: none !important; }

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block; }

.carousel-control .glyphicon-menu-left {
  left: 50%;
  margin-left: -10px; }

.carousel-control .glyphicon-menu-right {
  right: 50%;
  margin-right: -10px; }

/* main-navbar */
ul.nav li a {
  color: #909090;
  background: none;
  border-bottom: 3px solid rgba(29, 25, 44, 0);
  -webkit-transition: border-bottom 1s ease;
  -o-transition: border-bottom 1s ease;
  transition: border-bottom 1s ease; }
  ul.nav li a.activated {
    color: #5094f2;
    background: none; }
  ul.nav li a:hover {
    background: none; }

.navbar-brand {
  height: auto; }

.navbar-toggle {
  background: #5094f2;
  margin-top: 22px; }
  .navbar-toggle .icon-bar {
    background: #ffffff;
    height: 3px; }

/* begin of carousel */
section.signUp {
  text-align: center;
  color: #ffffff; }
  section.signUp .jumbotron {
    background: #5094f2 url("../images/blur-background.png") center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 25px 0;
    margin: 0; }
    section.signUp .jumbotron h1 {
      font-size: 34px; }
    section.signUp .jumbotron p {
      font-weight: 300;
      color: #ffffff; }
    section.signUp .jumbotron button.btn-signUp {
      background: #5094f2 url("../images/sign-up-now.png") 6px 6px no-repeat;
      padding-left: 50px;
      margin-top: 30px;
      border-radius: 0; }
  section.signUp .mountain {
    width: 100%;
    height: 8px;
    background: url("../images/ziczac.png") repeat-x 0 0;
    margin-top: -8px; }

/* begin of services */
div.rounded {
  width: 135px;
  height: 135px;
  border-radius: 100%;
  margin: auto; }
  div.rounded img.pen {
    margin: 30px 45px; }
  div.rounded img.pc {
    margin: 40px 34px; }
  div.rounded img.bucket {
    margin: 30px 30px; }

div.rounded-pen {
  background: #5094f2; }

div.rounded-pc {
  background: #d94748; }

div.rounded-bucket {
  background: #ebbb11; }

div.services-space {
  padding: 40px 15px 20px 15px;
  border-bottom: 1px solid #cccccc; }

@media (min-width: 768px) {
  nav ul.nav {
    margin-top: 30px; }
    nav ul.nav li > a.activated {
      border-bottom: 3px solid #5094f2;
      background: none; }
    nav ul.nav li > a:hover {
      border-bottom: 3px solid rgba(80, 148, 242, 0.7); }

  .big-screen {
    width: 750px;
    padding: 50px 15px 30px 15px;
    margin: auto; }

  div.services-space {
    padding: 0;
    border-bottom: none; }
    div.services-space p, div.services-space h1 {
      text-align: center; }

  .signUp .jumbotron .align1 {
    padding-left: 100px;
    text-align: left; } }
@media (min-width: 992px) {
  .big-screen {
    width: 970px; }

  .signUp .jumbotron .align1 {
    padding-left: 120px; } }
@media (min-width: 1200px) {
  .big-screen {
    width: 1170px; }

  .signUp .jumbotron .align1 {
    padding-left: 180px; } }
/* end of services */
/* begin of shopping cart */
section.shopping {
  text-align: center; }
  section.shopping h1 {
    color: #6f7173;
    margin: 40px 0 25px; }
  section.shopping h4 {
    margin: 30px 0 20px; }
  section.shopping img.img-responsive {
    margin: auto;
    -webkit-filter: drop-shadow(0 3px 4px black);
    filter: drop-shadow(3px 4px black); }

.align {
  text-align: left; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

/* end of shopping cart */
/* begin of footer */
footer {
  padding: 30px 0;
  margin-top: 25px;
  text-align: center;
  border-top: 1px solid #cccccc; }

body, html {
  overflow-x: hidden; }

.room {
  position: relative;
  right: 0;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out; }

@media screen and (max-width: 767px) {
  .on {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -80%;
    width: 80%;
    z-index: 9999;
    padding: 0 16px;
    background: #292929; }

  ul.nav li {
    border-bottom: 2px solid black;
    border-top: 2px solid #3c3c3c; }
    ul.nav li:first-child {
      border-top: none;
      text-align: right; }
    ul.nav li:last-child {
      border-bottom: none; }
    ul.nav li a {
      background: none !important; } }
.off {
  position: relative;
  right: 80%; }

/*# sourceMappingURL=main.css.map */
